[Unit]
Description=Filosofian Akatemia Site
After=docker.service
After=flanneld.service
After=confd.service
Requires=docker.service
Requires=flanneld.service
Requires=confd.service

[Service]
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm fiak-site
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull fiak/site:latest
ExecStart=/usr/bin/docker run --name fiak-site \
--volumes-from fiak-site-conf \
fiak/site:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
