[Unit]
Description=Filosofian Akatemia Site Configuration Templates
After=docker.service
After=flanneld.service
After=site-conf.service
After=nginx-conf.service
Requires=docker.service
Requires=flanneld.service
Requires=site-conf.service
Requires=nginx-conf.service
Before=confd.service

[Service]
TimeoutStartSec=0
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/usr/bin/docker rm fiak-site-conf
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull fiak/site-conf:latest
ExecStart=/usr/bin/docker run --name fiak-site-conf --volumes-from site-conf --volumes-from nginx-conf fiak/site-conf:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
