[Unit]
Description=Filosofian Akatemia Sync Folder Service
After=etcd2.service
After=docker.service
After=flanneld.service
Requires=etcd2.service
Requires=docker.service
Requires=flanneld.service

[Service]
EnvironmentFile=/etc/metadata
Restart=on-failure
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm fiak-sync-folder
ExecStartPre=-/usr/bin/flock /var/lock /usr/bin/timeout 5m /usr/bin/docker pull extendedmind/sync-folder:latest
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment FIAK_FILES_BUCKET_PATH=$(/usr/bin/etcdctl get /filosofianakatemia/filesbucketpath);"
ExecStart=/usr/bin/docker run --name fiak-sync-folder \
--volumes-from DATA-FRONTEND \
extendedmind/sync-folder:latest ${FIAK_FILES_BUCKET_PATH} /var/www/filosofianakatemia/files gsutil

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=role=node
